*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    background-color: rgb(78, 204, 78);
    text-align: center;
    background-image: url("./assets/connect_build.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 7em;
    height: 100vh;
}

.nav_links{
    background-color: rgb(58, 231, 58);
    display: flex;
    justify-content: flex-end;
    gap: 1.5em;
    padding: 1em 2em;
}
.nav_links > a {
    text-decoration: none;
    color: white;
}
.hero_title{
    margin-top: 1.5em;
    font-size: 4rem;
}
.project_desc{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2rem;
    font-weight: 600;
}
.deploy_project{
    padding: 1em 2.5em ;
    border-radius: 8px;
    border: solid rgb(134, 224, 134) ;
    background-color: rgb(55, 100, 55);
}


.deploy_project > a {
    color: white;
    text-decoration: none;
}
.feature_images{
    width: 40%;
margin: 1.5em auto;
}
.feature_images > img{
    width: 100%;
}
#features_section{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    color: white;
    background-color: black;
}
#about_section  {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.4em;
    padding: 4em 7em;
}
.social_links{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 4em;
}
.social_links > a {
    color: dodgerblue;
    /* text-decoration: none; */
}