*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em ;
}
.connect_build{
    font-size: 30px;
    color: white;
}
.button{
    display: flex;
    gap: 1em;
}
a{
    text-decoration: none;
    color: black;
}
.button>button{
    background-color: rgb(59, 88, 59);
    border: none;
    color: white;
    padding: .8em 2em;
    border-radius: 8px;
    transition: all;
    transition-duration: 0.9s;
}
.button>button:hover{
background-color: rgb(128, 247, 128);
}
.button>button > a{
    color: white;
}
.hero_info{
    text-align: center;
}
.signup_div > p {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 30px;
}
form{
    /* border: 2px red solid; */
    padding: 2em 1em;
    width: 50%;
    background-color: green;
    margin: 0 auto;
    
}
.form_input{
    width: 100%;
    padding: 1em 1em;
    margin-top: 1em;
    border: none;
    border-radius: 7px;
    /* border: blue solid 2px; */
}
.login_btn{
    color: white;
    border-radius: 7px;
    background-color: rgb(8, 11, 8);
    padding: .8em 2.3em;
    border: none;
    margin-top: 1em;
    cursor: pointer;
    width: 100%;
}
.sign_up_link{
    display: flex;
    justify-content: center;
    gap: 1em;
    /* border: 2px solid red; */
    width: 50%;
    font-weight: 600;
    margin: 0 auto;
}
.sign_up_link > a {
    color: rgb(59, 88, 59);
}
.sign_up_link > a:hover{
    color: rgb(4, 68, 4);
}
.services_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.services_list > li{
    /* border: 2px red solid; */
    padding: 1em;
    list-style: none;
    text-align: center;
}
img{
    width: 100%;
    height: auto;
   
}
.image_div{
    /* border: 2px blue solid; */
    height: 80%;
width: 80%; 
margin: 0 auto;   
overflow-y: hidden;
}
.browse_collection{
    text-align: center;
    font-weight: 600;
    margin: 1em 1em;
}
footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    cursor: pointer;
}