<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect & Build</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header" >
<p>
   <a href="./index.html" class="connect_build" > Connect & Build</a>
</p>




<div class="button">
<button type="button"><a href="./login.html">Login</a></button>
<button type="button"><a href="./signup.html">Sign Up</a></button>
</div>
    </header>
    
    
    <main>

<h1 class="hero_info" >
    We Connect Professionals, Artisans, Companies, Stores and Clients in the Industry
</h1>

<p class="browse_collection" >Browse our Collection</p>
<ul class="services_list">
    <li>
        <div class="image_div" > 
            <img src="https://img.freepik.com/free-photo/industrial-designers-working-3d-model_23-2149370133.jpg?size=626&ext=jpg&ga=GA1.2.120896997.1707432117&semt=sph" alt="Professionals">
        </div>
        <a href="#">Professionals</a></li>
    <li>
        <div class="image_div">
            <img src="https://img.freepik.com/free-photo/group-people-stands-room-with-table-that-says-number-4-it_1340-35828.jpg?size=626&ext=jpg&ga=GA1.1.120896997.1707432117&semt=sph" alt="company">
        </div>
        <a href="#">Companies</a></li>
    <li>
        <div class="image_div">
            <img src="https://img.freepik.com/free-photo/medium-shot-artisan-doing-woodcutting_23-2150104751.jpg?size=626&ext=jpg&ga=GA1.2.120896997.1707432117&semt=sph" alt="artisans">
        </div>
        <a href="#">Artisans</a></li>
    <li>
        <div class="image_div">
            <img src="https://img.freepik.com/free-photo/abstract-blur-defocused-shopping-mall-center-department-store_1203-9225.jpg?size=626&ext=jpg&ga=GA1.2.120896997.1707432117&semt=sph" alt="stores">
        </div>
        <a href="#">Stores</a></li>
</ul>
    </main>

    <footer>
        <p>Follow Us</p>
        <a href="#">Get Started</a>
    </footer>
</body>
</html>